.header{
display: flex;
flex-direction: row;
padding: 16px;
border-radius: 20px;
justify-content: space-between;
font-size: 25px
}

.header_navigation_buttons {
display: flex;
gap: 15px;
}

.header_navigation-cart-and-profile{
display: flex;
gap: 10px;
}

.header_logo_text-Flower{
    color: orange;
}
.header_navigation_buttons-Home{
    color: orange
}
.middle{
    background-color: rgb(226, 226, 226);
display: flex;
flex-direction: row;
align-items: stretch;
justify-content: space-around
}
.middle_text{
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: stretch;
}
.middle_text_main{
font-size: 60px;
}
.middle_text_info{
font-size: 20px;
opacity: 0.5
}

.middle_pics{
display: grid;
grid-template-columns: repeat(3, auto);
row-gap: 20px;
column-gap: 20px;
}

.pic {
    width: 192px;
}