.text1 {
    border: 1px outset;
    margin: 40px 30px 20px 10px;
}
.text2 {
    border: 1px inset;
    margin: 80px 20px 30px 120px;
}
.text3 {
    border: 1px solid;
    padding: 80px 20px 30px 40px;
    margin: 80px 20px 30px 80px;
}